/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: #000;
    background: #FFFFFF;
    position: relative;
    width: 1100px;
    margin: 0 auto;
}

a {
    color: inherit;
    text-underline-offset: 4px;
}

/* Шапка */
.header {
    position: relative;
    width: 1100px;
    height: 293px;
    padding: 92px 50px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.header__links-list-item {
    position: relative;
}

.header__links-list-item:not(:first-child)::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border: 0.5px solid #000000;
    left: -16px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.header__link {
    font-size: 18px;
    line-height: 21px;
    text-underline-offset: 4px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
    position: absolute;
    left: calc(50% - 148px/2 + 2px);
    top: 92px;
}

.header__logo-image {
    width: 100%;
    height: 100%;
}

.address {
    position: absolute;
    width: 240px;
    height: 98px;
    right: 50px;
    top: 95px;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
}

.address a {
    text-underline-offset: 4px;
}

/* Обложка */
.cover {
    position: relative;
    width: 1100px;
    height: 757px;
    padding: 165px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background: #000000;
    opacity: 0.6;
}

.cover__title {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    width: 1000px;
    height: 385px;
    margin-left: 50px;
}

.aligned-text {
    display: block;
    line-height: 1.15;
}

.aligned-text_left {
    text-align: left;
    width: 286px;
    height: 115px;
}

.aligned-text_center {
    text-align: center;
    width: 339px;
    height: 115px;
    margin: 0 auto;
}

.aligned-text_right {
    text-align: right;
    width: 387px;
    height: 115px;
    margin-left: auto;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 51px;
    margin-left: 50px;
    margin-top: 156px;
}

.cover__description-text {
    color: #fff;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    width: 637px;
}

.bet-button {
    border: 1px solid #FFFFFF;
    padding: 12px 32px;
    width: 256px;
    height: 51px;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    text-align: center;
    font-family: Raleway, sans-serif;
}

/* Лоты */
.lots {
    position: relative;
    width: 1052px;
    height: 723px;
    padding: 180px 24px;
    margin: 0 auto;
}

.lots__heading {
    width: 121px;
    height: 47px;
    margin-left: 40px;
    margin-bottom: 27px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    list-style: none;
    margin-bottom: 60px;
}

.lots__card-list-item {
    flex: 1;
    min-width: 334px;
    height: 596px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 48px 40px;
    color: #fff;
    background-size: cover;
    background-position: center;
}

.card::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    z-index: 2;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: underline;
    text-transform: uppercase;
    height: 110px;
}

.card__text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    line-height: 1.2;
    height: 264px;
}

.lots__look-more-link {
    margin-left: 40px;
    font-size: 20px;
    line-height: 23px;
    text-underline-offset: 5px;
}

/* Об аукционе */
.about {
    position: relative;
    width: 1052px;
    height: 595px;
    padding: 0 24px 180px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
}

.about__column {
    display: flex;
    flex-direction: column;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin-left: 47px;
    border-radius: 50%;
    background: #000000;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    width: 291px;
    height: 47px;
    margin: 35px 0 100px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
}

.about__text {
    width: 693px;
    font-size: 20px;
    line-height: 24px;
}

.about__text p {
    margin-bottom: 24px;
}

.about__text p:last-child {
    margin-bottom: 0;
}

/* Подвал */
.footer {
    position: absolute;
    width: 1100px;
    height: 180px;
    padding: 0 50px 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
}

.footer__address {
    width: 264px;
    height: 98px;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-size: 18px;
    line-height: 21px;
    width: 163px;
    height: 64px;
    margin: 0 auto;
}

.footer__menu-link {
    text-underline-offset: 4px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: end;
    gap: 48px;
    list-style: none;
    width: 240px;
    height: 48px;
}

.footer__social-link {
    display: block;
    width: 48px;
    height: 48px;
}

.footer__social-icon {
    width: 100%;
    height: 100%;
}

/* Декоративные линии для ссылок */
.footer__menu-list li {
    position: relative;
    margin-bottom: 8px;
}

.footer__menu-list li:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #000000;
    bottom: -4px;
    left: 0;
}

.address a {
    position: relative;
    display: block;
    margin-bottom: 8px;
}

.address a::after {
    content: '';
    position: absolute;
    width: 131px;
    height: 1px;
    background: #000000;
    bottom: -4px;
    left: 0;
}